<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.gome.framework.dao.mapper.ser.TblTaskObjectRegisterSerMapper">
	<resultMap id="BaseResultMap"
		type="cn.com.gome.framework.dao.entity.TblTaskObjectRegister">
		<id column="REGISTER_NO" property="registerNo" jdbcType="CHAR" />
		<result column="OBJECT_TAL" property="objectTal" jdbcType="VARCHAR" />
		<result column="TASK_RUN_SERVER" property="taskRunServer" jdbcType="VARCHAR" />
		<result column="TASK_RUN_PORT" property="taskRunPort" jdbcType="INTEGER" />
		<result column="REGISTER_TIME" property="registerTime" jdbcType="CHAR" />
		<result column="OBJECT_STATUS" property="objectStatus" jdbcType="CHAR" />
		<result column="UP_TIME" property="upTime" jdbcType="CHAR" />
	</resultMap>
	<resultMap id="BasePoResultMap"
		type="cn.com.gome.framework.po.TaskObjectRegisterPo">
		<id column="REGISTER_NO" property="registerNo" jdbcType="CHAR" />
		<result column="OBJECT_TAL" property="objectTal" jdbcType="VARCHAR" />
		<result column="TASK_RUN_SERVER" property="taskRunServer" jdbcType="VARCHAR" />
		<result column="TASK_RUN_PORT" property="taskRunPort" jdbcType="INTEGER" />
		<result column="REGISTER_TIME" property="registerTime" jdbcType="CHAR" />
		<result column="OBJECT_STATUS" property="objectStatus" jdbcType="CHAR" />
		<result column="UP_TIME" property="upTime" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
	REGISTER_NO,OBJECT_TAL,TASK_RUN_SERVER,TASK_RUN_PORT,REGISTER_TIME,OBJECT_STATUS,UP_TIME
	</sql>
	<select id="query" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TBL_TASK_OBJECT_REGISTER
		where REGISTER_NO = #{registerNo,jdbcType=CHAR}
	</select>
	<sql id="comm_where">		<where>	 <if test="registerNo != null ">
			AND REGISTER_NO = #{registerNo,jdbcType=CHAR}
		</if>
		<if test="objectTal != null ">
			AND OBJECT_TAL = #{objectTal,jdbcType=VARCHAR}
		</if>
		<if test="taskRunServer != null ">
			AND TASK_RUN_SERVER = #{taskRunServer,jdbcType=VARCHAR}
		</if>
		<if test="taskRunPort != null ">
			AND TASK_RUN_PORT = #{taskRunPort,jdbcType=INTEGER}
		</if>
		<if test="registerTime != null ">
			AND REGISTER_TIME = #{registerTime,jdbcType=CHAR}
		</if>
		<if test="objectStatus != null ">
			AND OBJECT_STATUS = #{objectStatus,jdbcType=CHAR}
		</if>
		<if test="upTime != null ">
			AND UP_TIME = #{upTime,jdbcType=CHAR}
		</if>
		</where>

	</sql>
	<select id="queryObj" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TASK_OBJECT_REGISTER
		<include refid="comm_where"></include>
	</select>
	<select id="queryPo" resultMap="BasePoResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TASK_OBJECT_REGISTER
		<include refid="comm_where"></include>
	</select>
	<select id="queryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TASK_OBJECT_REGISTER
		<include refid="comm_where"></include>
	</select>
	<sql id="page_where">		<where>		<if test="f.registerNo != null ">
			AND REGISTER_NO = #{f.registerNo,jdbcType=CHAR}
		</if>
		<if test="f.objectTal != null ">
			AND OBJECT_TAL = #{f.objectTal,jdbcType=VARCHAR}
		</if>
		<if test="f.taskRunServer != null ">
			AND TASK_RUN_SERVER = #{f.taskRunServer,jdbcType=VARCHAR}
		</if>
		<if test="f.taskRunPort != null ">
			AND TASK_RUN_PORT = #{f.taskRunPort,jdbcType=INTEGER}
		</if>
		<if test="f.registerTime != null ">
			AND REGISTER_TIME = #{f.registerTime,jdbcType=CHAR}
		</if>
		<if test="f.objectStatus != null ">
			AND OBJECT_STATUS = #{f.objectStatus,jdbcType=CHAR}
		</if>
		<if test="f.upTime != null ">
			AND UP_TIME = #{f.upTime,jdbcType=CHAR}
		</if>
		</where>
	</sql>
	<select id="queryPageListCount" resultType="java.lang.Integer">
		select count(1) from TBL_TASK_OBJECT_REGISTER
		<include refid="page_where"></include>
	</select>
	<select id="queryPageList" resultMap="BaseResultMap">
        <![CDATA[ select * from ( select interTable.*,rownum rn from ( ]]>
		select
		AA.REGISTER_NO,AA.OBJECT_TAL,AA.TASK_RUN_SERVER,AA.TASK_RUN_PORT,AA.REGISTER_TIME,AA.OBJECT_STATUS,AA.UP_TIME
		from TBL_TASK_OBJECT_REGISTER AA 
		<include refid="page_where"></include>
			) interTable where 
	    <![CDATA[ rownum <= #{limit}+#{offset} ]]>
			) outerTable where 
	    <![CDATA[ outerTable.rn > #{limit} ]]>
	</select>
	<select id="queryPageVoList" resultMap="BasePoResultMap">
        <![CDATA[ select * from ( select interTable.*,rownum rn from ( ]]>
		select
		AA.REGISTER_NO,AA.OBJECT_TAL,AA.TASK_RUN_SERVER,AA.TASK_RUN_PORT,AA.REGISTER_TIME,AA.OBJECT_STATUS,AA.UP_TIME
		from TBL_TASK_OBJECT_REGISTER AA 
		<include refid="page_where"></include>
			) interTable where 
	    <![CDATA[ rownum <= #{limit}+#{offset} ]]>
			) outerTable where 
	    <![CDATA[ outerTable.rn > #{limit} ]]>
	</select>
</mapper>
