<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.gome.framework.dao.mapper.ser.TblTableDaoInfoSerMapper">
	<resultMap id="BaseResultMap"
		type="cn.com.gome.framework.dao.entity.TblTableDaoInfo">
		<id column="TABLE_NUMBERS" property="tableNumbers" jdbcType="INTEGER" />
		<result column="CHILD_PROJECT_CODE" property="childProjectCode"
			jdbcType="INTEGER" />
		<result column="TABLE_CHAN" property="tableChan" jdbcType="VARCHAR" />
		<result column="TABLE_ENG" property="tableEng" jdbcType="VARCHAR" />
		<result column="SHOW_COLUMNS" property="showColumns" jdbcType="VARCHAR" />
		<result column="QUERY_COLUMNS" property="queryColumns"
			jdbcType="VARCHAR" />
		<result column="ADD_COLUMNS" property="addColumns" jdbcType="VARCHAR" />
		<result column="PAGE_FORM" property="pageForm" jdbcType="VARCHAR" />
		<result column="EDIT_COLUMNS" property="editColumns" jdbcType="VARCHAR" />
		<result column="VIEW_COLUMNS" property="viewColumns" jdbcType="VARCHAR" />
		<result column="COLUMN_TYPE" property="columnType" jdbcType="VARCHAR" />
		<result column="KEY_TEXT" property="keyText" jdbcType="VARCHAR" />
		<result column="COLUMNS_NAME" property="columnsName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="CHAR" />
		<result column="VALIDATE_NAME" property="validateName"
			jdbcType="VARCHAR" />
		<result column="ADD_DIC" property="addDic" jdbcType="CHAR" />
		<result column="CREATE_FILES" property="createFiles" jdbcType="VARCHAR" />
		<result column="CREATE_STATUS" property="createStatus"
			jdbcType="CHAR" />
	</resultMap>
	<resultMap id="BasePoResultMap" type="cn.com.gome.framework.po.TableDaoInfoPo">
		<id column="TABLE_NUMBERS" property="tableNumbers" jdbcType="INTEGER" />
		<result column="CHILD_PROJECT_CODE" property="childProjectCode"
			jdbcType="INTEGER" />
		<result column="TABLE_CHAN" property="tableChan" jdbcType="VARCHAR" />
		<result column="TABLE_ENG" property="tableEng" jdbcType="VARCHAR" />
		<result column="SHOW_COLUMNS" property="showColumns" jdbcType="VARCHAR" />
		<result column="QUERY_COLUMNS" property="queryColumns"
			jdbcType="VARCHAR" />
		<result column="ADD_COLUMNS" property="addColumns" jdbcType="VARCHAR" />
		<result column="PAGE_FORM" property="pageForm" jdbcType="VARCHAR" />
		<result column="EDIT_COLUMNS" property="editColumns" jdbcType="VARCHAR" />
		<result column="VIEW_COLUMNS" property="viewColumns" jdbcType="VARCHAR" />
		<result column="COLUMN_TYPE" property="columnType" jdbcType="VARCHAR" />
		<result column="KEY_TEXT" property="keyText" jdbcType="VARCHAR" />
		<result column="COLUMNS_NAME" property="columnsName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="CHAR" />
		<result column="VALIDATE_NAME" property="validateName"
			jdbcType="VARCHAR" />
		<result column="ADD_DIC" property="addDic" jdbcType="CHAR" />
		<result column="CREATE_FILES" property="createFiles" jdbcType="VARCHAR" />
		<result column="CREATE_STATUS" property="createStatus"
			jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		TABLE_NUMBERS,CHILD_PROJECT_CODE,TABLE_CHAN,TABLE_ENG,SHOW_COLUMNS,QUERY_COLUMNS,ADD_COLUMNS,PAGE_FORM,EDIT_COLUMNS,VIEW_COLUMNS,
		COLUMN_TYPE,KEY_TEXT,COLUMNS_NAME,CREATE_TIME,VALIDATE_NAME,ADD_DIC,CREATE_FILES,CREATE_STATUS
	</sql>
	<select id="query" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TBL_TABLE_DAO_INFO
		where TABLE_NUMBERS =
		#{tableNumbers,jdbcType=INTEGER}
	</select>
	<sql id="comm_where">
		<where>
			<if test="tableNumbers != null ">
				AND TABLE_NUMBERS = #{tableNumbers,jdbcType=INTEGER}
			</if>
			<if test="childProjectCode != null ">
				AND CHILD_PROJECT_CODE =
				#{childProjectCode,jdbcType=INTEGER}
			</if>
			<if test="tableChan != null ">
				AND TABLE_CHAN = #{tableChan,jdbcType=VARCHAR}
			</if>
			<if test="tableEng != null ">
				AND TABLE_ENG = #{tableEng,jdbcType=VARCHAR}
			</if>
			<if test="showColumns != null ">
				AND SHOW_COLUMNS = #{showColumns,jdbcType=VARCHAR}
			</if>
			<if test="queryColumns != null ">
				AND QUERY_COLUMNS = #{queryColumns,jdbcType=VARCHAR}
			</if>
			<if test="addColumns != null ">
				AND ADD_COLUMNS = #{addColumns,jdbcType=VARCHAR}
			</if>
			<if test="pageForm != null ">
				AND PAGE_FORM = #{pageForm,jdbcType=VARCHAR}
			</if>
			<if test="editColumns != null ">
				AND EDIT_COLUMNS = #{editColumns,jdbcType=VARCHAR}
			</if>
			<if test="viewColumns != null ">
				AND VIEW_COLUMNS = #{viewColumns,jdbcType=VARCHAR}
			</if>
			<if test="columnType != null ">
				AND COLUMN_TYPE = #{columnType,jdbcType=VARCHAR}
			</if>
			<if test="keyText != null ">
				AND KEY_TEXT = #{keyText,jdbcType=VARCHAR}
			</if>
			<if test="columnsName != null ">
				AND COLUMNS_NAME = #{columnsName,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null ">
				AND CREATE_TIME = #{createTime,jdbcType=CHAR}
			</if>
			<if test="addDic != null ">
				AND ADD_DIC = #{addDic,jdbcType=CHAR}
			</if>
		</where>

	</sql>
	<select id="queryObj" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TABLE_DAO_INFO
		<include refid="comm_where"></include>
	</select>
	<select id="queryPo" resultMap="BasePoResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TABLE_DAO_INFO
		<include refid="comm_where"></include>
	</select>
	<select id="queryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TBL_TABLE_DAO_INFO
		<include refid="comm_where"></include>
	</select>
	<sql id="page_where">
		<where>
			<if test="f.tableNumbers != null ">
				AND TABLE_NUMBERS = #{f.tableNumbers,jdbcType=INTEGER}
			</if>
			<if test="f.childProjectCode != null ">
				AND CHILD_PROJECT_CODE =
				#{f.childProjectCode,jdbcType=INTEGER}
			</if>
			<if test="f.tableChan != null ">
				AND TABLE_CHAN = #{f.tableChan,jdbcType=VARCHAR}
			</if>
			<if test="f.tableEng != null ">
				AND TABLE_ENG = #{f.tableEng,jdbcType=VARCHAR}
			</if>
			<if test="f.showColumns != null ">
				AND SHOW_COLUMNS = #{f.showColumns,jdbcType=VARCHAR}
			</if>
			<if test="f.queryColumns != null ">
				AND QUERY_COLUMNS = #{f.queryColumns,jdbcType=VARCHAR}
			</if>
			<if test="f.addColumns != null ">
				AND ADD_COLUMNS = #{f.addColumns,jdbcType=VARCHAR}
			</if>
			<if test="f.pageForm != null ">
				AND PAGE_FORM = #{f.pageForm,jdbcType=VARCHAR}
			</if>
			<if test="f.editColumns != null ">
				AND EDIT_COLUMNS = #{f.editColumns,jdbcType=VARCHAR}
			</if>
			<if test="f.viewColumns != null ">
				AND VIEW_COLUMNS = #{f.viewColumns,jdbcType=VARCHAR}
			</if>
			<if test="f.columnType != null ">
				AND COLUMN_TYPE = #{f.columnType,jdbcType=VARCHAR}
			</if>
			<if test="f.keyText != null ">
				AND KEY_TEXT = #{f.keyText,jdbcType=VARCHAR}
			</if>
			<if test="f.columnsName != null ">
				AND COLUMNS_NAME = #{f.columnsName,jdbcType=VARCHAR}
			</if>
			<if test="f.createTime != null ">
				AND CREATE_TIME = #{f.createTime,jdbcType=CHAR}
			</if>
			<if test="f.addDic != null ">
				AND ADD_DIC = #{f.addDic,jdbcType=CHAR}
			</if>
		</where>
	</sql>
	<select id="queryPageListCount" resultType="java.lang.Integer">
		select count(1) from TBL_TABLE_DAO_INFO
		<include refid="page_where"></include>
	</select>
	<select id="queryPageList" resultMap="BaseResultMap">
        <![CDATA[ select * from ( select interTable.*,rownum rn from ( ]]>
		select
		AA.TABLE_NUMBERS,AA.CHILD_PROJECT_CODE,AA.TABLE_CHAN,AA.TABLE_ENG,AA.SHOW_COLUMNS,AA.QUERY_COLUMNS,AA.ADD_COLUMNS,AA.PAGE_FORM,
		AA.EDIT_COLUMNS,AA.VIEW_COLUMNS,AA.COLUMN_TYPE,AA.KEY_TEXT,AA.COLUMNS_NAME,AA.CREATE_TIME,AA.VALIDATE_NAME,AA.ADD_DIC,AA.CREATE_FILES,AA.CREATE_STATUS
		from TBL_TABLE_DAO_INFO AA
		<include refid="page_where"></include>
		) interTable where 
	    <![CDATA[ rownum <= #{limit}+#{offset} ]]>
		) outerTable where 
	    <![CDATA[ outerTable.rn > #{limit} ]]>
	</select>
	<select id="queryPageVoList" resultMap="BasePoResultMap">
        <![CDATA[ select * from ( select interTable.*,rownum rn from ( ]]>
		select
		AA.TABLE_NUMBERS,AA.CHILD_PROJECT_CODE,AA.TABLE_CHAN,AA.TABLE_ENG,AA.SHOW_COLUMNS,AA.QUERY_COLUMNS,AA.ADD_COLUMNS,AA.PAGE_FORM,
		AA.EDIT_COLUMNS,AA.VIEW_COLUMNS,AA.COLUMN_TYPE,AA.KEY_TEXT,AA.COLUMNS_NAME,AA.CREATE_TIME,AA.VALIDATE_NAME,AA.ADD_DIC,AA.CREATE_FILES,AA.CREATE_STATUS
		from TBL_TABLE_DAO_INFO AA
		<include refid="page_where"></include>
		) interTable where 
	    <![CDATA[ rownum <= #{limit}+#{offset} ]]>
		) outerTable where 
	    <![CDATA[ outerTable.rn > #{limit} ]]>
	</select>
</mapper>
